.container {
    background-image: url("../images/backgraund.png");
    padding-bottom: 72px;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.4);
}

.header_menu {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 50px;
}

.header_logo {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 10px;
    margin-left: 50px;
}

div.header_logo :hover{
    color: #01813F;
}


.header_menu_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

div.header_menu_text:hover{
    color: #01813F;
}

.header_menu_line {
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-right: 30px;
}

.header_menu_img1 {
    background-image: url("../images/Vector.svg");
    height: 25px;
    width: 22px;
    margin-right: 20px;
}

.header_menu_img2 {
    background-image: url("../images/Vector(1).svg");
    height: 25px;
    width: 23px;
    margin-right: 20px;
}

.header_menu_img3 {
    background-image: url("../images/Vector(2).svg");
    height: 25px;
    width: 23px;
    margin-right: 20px;
}


div.header_menu_img1:hover{
    background-image: url("../images/Vector2.svg");
}

div.header_menu_img2:hover{
    background-image: url("../images/Vector3.svg");
}

div.header_menu_img3:hover{
    background-image: url("../images/Vectorhover1.svg");
}