.form {
    margin: auto;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    margin-top: 50px;
}

.form_header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.form_header_cube {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    transform: translate(0px, 30px);
}

.form_header_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form_header_text_login {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

div.form_header_text_login:hover{
    color: #01813F;
    text-decoration: underline;
}


.form_container {
    max-width: 324px;
    margin: 0 auto;
    width: 100%;
}


.form_button {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.form_button_FB {
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.form_button_FB:hover{
    background: #022263;
}

.form_button_GM {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.form_button_GM:hover{
    background: #AB1F09;
}

.form_button_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding-right: 30px;
}

.form_button_img {
    width: 30px;
    height: 19px;
}

.form_button_FB_line {
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-left: 5px;
}

.form_button_GM_line {
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin-left: 5px;
}

.form_button_position {
    display: flex;
    align-items: center;
}

.form_line_position {
    display: flex;
    padding-top: 30px;
    align-items:center;
}

.form_line {
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
}

.form_line_text {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding-left: 6px;
    padding-right: 6px;
}


.form_inner{
    padding-top: 10px;
}


.form_inner_name{
    display: flex;
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #434343;
    padding-left: 30px;
    align-items: center;
}

label.form_inner_name:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}


.form_inner_lastname{
    display: flex;
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #BEBEBE;
    padding-left: 30px;
}

label.form_inner_lastname:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form_inner_email{
    display: flex;
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #BEBEBE;
    padding-left: 30px;
}

label.form_inner_email:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.form_inner input[type="password"]{
    display: block;
    width: 324px;
    height: 46px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #BEBEBE;
    padding-left: 30px;
}

label input[type="password"]:active{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

label input[type="checkbox"]{
    display: none;
}

label span[class="checkbox"]{
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
}


.form_inner_checkbox{
    display: flex;
    align-items: center;
}



[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color:green;
}



.form_inner_checkbox_text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 10px;
}

.form_inner_checkbox_green{
    color: #3CB878;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

span.form_inner_checkbox_green:hover{
    color: #01813F;
    text-decoration: underline;
}

.form_inner input[type="submit"]{
    margin-top: 10px;
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.form_inner input[type="submit"]:hover{
    background: #01813F;
}